%footer#footer
  %section
    %article
      %h4 Contact
      %dl
        %dt Phone
        %dd 904.398.3005
        %dt Fax
        %dd 904.398.3009
        %dt Email
        %dd
          = link_to "contact@tavernasanmarco.com", "mailto:contact@tavernasanmarco.com"
    %article
      %h4 Hours
      .week
        %dl
          %dt Mon - Thur
          %dd 11am - 10pm
        %dl
          %dt Fri
          %dd 11am - 11pm
        %dl
          %dt Sat
          %dd 10am - 11pm
        %dl
          %dt Sun
          %dd 10am - 10px

  %section
    %article
      %h4 Location
      %a{href: 'https://www.google.com/maps/place/1986+San+Marco+Blvd,+Jacksonville,+FL+32207/@30.3038026,-81.6547161,17z/data=!3m1!4b1!4m2!3m1!1s0x88e5b7a910546063:0x4c189d51c5c3b986', target: '_blank'}
        1986 San Marco Blvd
        %br
        Jacksonville, FL 32207
      %figure
        %a{href: 'https://www.google.com/maps/place/1986+San+Marco+Blvd,+Jacksonville,+FL+32207/@30.3038026,-81.6547161,17z/data=!3m1!4b1!4m2!3m1!1s0x88e5b7a910546063:0x4c189d51c5c3b986', target: '_blank'}
          = image_tag 'images/map.png'
    %article
      %h4 Newsletter
      / Begin MailChimp Signup Form
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{:action => "//tavernasanmarco.us8.list-manage.com/subscribe/post?u=4ad5653bae281118fa977cb92&amp;id=5ba8e7779b", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          #mc_embed_signup_scroll
            %ul.inline
              %li
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "EMAIL", :required => "", :type => "email", :value => ""}
                  / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  %div{:style => "position: absolute; left: -5000px;"}
                    %input{:name => "b_4ad5653bae281118fa977cb92_5ba8e7779b", :tabindex => "-1", :type => "text", :value => ""}/
              %li
                %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Submit"}/
      %h4 Specials/Events/Photos
      = link_to '#', class: 'circle-btn' do
        %i.ion-social-facebook
      = link_to '#', class: 'circle-btn' do
        %i.ion-social-instagram
      = link_to '#', class: 'circle-btn' do
        %i.ion-social-twitter
      %figure.footer-logo
        = image_tag 'images/footer-logo.png'
