= partial 'refills/nav'

%section.drink
  .wrapper
    %aside
      %h2
        Drink
    %article

%section.main-content
  .wrapper
    %article.all-menus
      %header
        = link_to 'Cocktails', '#', class: 'next active', target: '1'
        = link_to 'Wine', '#', class: 'next', target: '2'
        = link_to 'Beer', '#', class: 'next', target: '3'
        = link_to 'Non-Alcoholic', '#', class: 'next', target: '4'
      #menu1.menu-container
        %table.menu.alt
          %thead
            %th{colspan: '2'} Craft Cocktails
          %tbody
            %tr
              %td
                %h5
                  Moscow Mule
                %p
                  New Amsterdam Vodka, muddled ginger, lime juice, house-made ginger syrup, soda
              %td
                10
              %tr
                %td
                  %h5
                    SOUTHSIDE
                  %p
                    Plymouth Gin, muddled lemon, fresh mint, house-made lemon syrup
                    %br
                    %i
                      %strong WESTSIDE
                      with New Amsterdam Vodka
                    %br
                      %i
                        %strong SOUTHBANK
                        with Medley Bros. Bourbon
                %td
                  10
              %tr
                %td
                  %h5
                    SIDECAR
                  %p
                    Laird’s Applejack, Bols Triple Sec, lemon juice
                    %br
                    %i
                      %strong DINGY
                      with Pyrat Aged Caribbean Rum
                %td
                  10
              %tr
                %td
                  %h5
                    Collins
                  %p
                    Spirit of choice, muddled lemon, Florida cane sugar, soda
                    %br
                    %i
                      %strong
                        VODKA
                      with Hangar One
                    %br
                    %i
                      %strong GIN
                      with Plymouth
                    %br
                    %i
                      %strong
                        WHISKEY
                      with Medley Bros. Bourbon
                    %br
                    %i
                      %strong
                        TEQUILA
                      with Camarena Reposado
                    %br
                    %i
                      %strong RUM
                      with Santa Teresa 'Claro’
                %td
                  10
              %tr
                %td
                  %h5
                    Salty Dog
                  %p
                    Tito’s Handmade Vodka, fresh grapefruit juice, Maldon sea salt, Florida cane sugar
                %td
                  10
              %tr
                %td
                  %h5
                    ICED TEA ITALIANO
                  %p
                    Averna Amaro, lemon juice, Prosecco
                %td
                  10
              %tr
                %td
                  %h5
                    JALISCO GIMLET
                  %p
                    Camarena Blanco Tequila, house-made vanilla syrup, lime juice
                %td
                  10
              %tr
                %td
                  %h5
                    Ferrari
                  %p
                    Ferarri Brut Sparkling Wine, sugar, Jerry Thomas Bitters, orange twist
                %td
                  10
      #menu2.menu-container{style: 'display:none'}
        %table.menu.alt
          %thead
            %th{colspan: '2'} House-Favorite Wines
          %tbody
            %tr
              %td
                %h5
                  EMIDIO PEPE TREBBIANO
                %p
                  Abruzzo, Italy, 2007
              %td
                170
              %tr
                %td
                  %h5
                    GALARDI 'TERRA DI LAVORO’
                  %p Aglianico & Piederosso, Roccamonfina, Campania, Italy, 2010
                %td
                  90
              %tr
                %td
                  %h5
                    ARGIOLAS, KOREM, ISOLE DEI NURAGHI
                  %p Bovale Sardo, Carignano & Cannonau, Sardinia, Italy, 2010
                %td
                  70
              %tr
                %td
                  %h5
                    Salmon
                    %span GF
                  %p white beans, kale, warm olive vinaigrette
                %td
                  25
              %tr
                %td
                  %h5
                    ROBERT SINSKEY VINEYARDS, 'VIN GRIS OF PINOT NOIR'
                  %p Pinot Noir Rosé, Los Carneros, California, 2013
                %td
                  60
        %table.menu.alt
          %thead
            %th{colspan: '2'} By the Glass
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  SPARKLING
            %tr
              %td
                %h5
                  Pertimali by Livio Sassetti Prosecco
                %p Valdobbiadene - Conegliano, Italy, NV
              %td
                9/36
            %tr
              %td
                %h5
                  Ferarri Brut
                %p Trentino Alto Aldige, Italy, NV
              %td
                11/44
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  ITALIAN WHITES
            %tr
              %td
                %h5
                  ALOIS LAGEDAR ‘RIFF’ PINOT GRIGIO
                %p Tre Venezie, Italy, 2013
              %td
                6/24
            %tr
              %td
                %h5
                  Inama Soave Classico
                %p Veneto, Italy, 2013
              %td
                8/32
            %tr
              %td
                %h5
                  ARGIOLAS ‘COSTAMOLINO’ VERMENTINO DI SARDEGNA
                %p Sardinia, Italy, 2013
              %td
                7/28
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  WHITES
            %tr
              %td
                %h5
                  NEIL ELLIS ‘GROENEKLOOF’ SAUVIGNON BLANC
                  %p Stellenbosch, South Africa, 2014
              %td
                8/32
            %tr
              %td
                %h5
                  DOMAINE DU TARIQUET CHARDONNAY
                %p Cotés de Gascogne, France, 2013
              %td
                8/32
            %tr
              %td
                %h5
                  MINER FAMILY WINERY ‘SIMPSON VINEYARD’ VIOGNIER
                %p Oak ville, California, 2013
              %td
                10/40
        %table.menu.alt
          %thead
            %th{colspan: '2'} ITALIAN SPARKLING
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  Pertimali by Livio Sassetti Prosecco
                %p Valdobbiadene - Conegliano, Italy, NV
              %td
                36
              %tr
                %td
                  %h5
                    Pertimali by Livio Sassetti Prosecco ‘rose’
                  %p Valdobbiadene - Conegliano, Italy, NV
                %td
                  32
              %tr
                %td
                  %h5
                    Cleto Chiarli, Lambrusco Vigneto Enrico Cialdini
                  %p Secco, Emilia-Romagna, Italy, NV
                %td
                  28
              %tr
                %td
                  %h5
                    Ferarri Brut
                  %p Trentino Alto Aldige, Italy, NV
                %td
                  44
              %tr
                %td
                  %h5
                    Ca’ del Bosco, Franciacorta Cuvée Prestige
                  %p
                    Lombardy, Italy, NV
                %td
                  75
        %table.menu.alt
          %thead
            %th{colspan: '2'} SPARKLING
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  Castellar Cava
                %p Brut Reserva, Pendes, Spain, NV
              %td
                28
            %tr
              %td
                %h5
                  RaventÓs i blanc, ‘de nit’, rosado
                %p Pendes, Spain, 2011
              %td
                40
            %tr
              %td
                %h5
                  RaventÓs i blanc, ‘de la finca’
                %p Pendes, Spain, 2009
              %td
                60
            %tr
              %td
                %h5
                  Marcel Martin Crémant Tête de Cuvée
                %p Loire Valley, France, NV
              %td 40
            %tr
              %td
                %h5
                  domaine des terres dorÉes ‘frv100’
                %p
                  Beaujolais,  France, NV
              %td
                40
            %tr
              %td
                %h5
                  Gosset Brut Excellence secco
                %p Champagne, France, NV
              %td
                95
            %tr
              %td
                %h5
                  Billecart-Salmon brut sous bois
                %p Champagne, France, NV
              %td
                180
              %tr
                %td
                  %h5
                    Billecart-Salmon Brut Rose
                  %p
                    Champagne, France, NV
                    %strong 375ML (HALF BOTTLE)
                %td
                  65
        %table.menu.alt
          %thead
            %th{colspan: '2'} ITALIAN WHITES
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  Feudi di San Gregorgio Falanghina
                %p Campania, Italy, 2012
              %td
                32
            %tr
              %td
                %h5
                  ARGIOLAS ‘COSTAMOLINO’ VERMENTINO DI SARDEGNA
                %p Sardinia, Italy, 2013
              %td
                28
            %tr
              %td
                %h5
                  ALOIS LAGEDAR ‘RIFF’ PINOT GRIGIO
                %p Tres Venezie, Italy, 2013
              %td
                24
            %tr
              %td
                %h5
                  Inama Soave Classico
                %p Veneto, Italy, 2013
              %td 40
            %tr
              %td
                %h5
                  andrea felici verdicchio dei castelli di jesi
                %p
                  Marche, Italy,  2013
              %td
                36
        %table.menu.alt
          %thead
            %th{colspan: '2'} WHITES
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  PALMINA PINOT GRIGIO
                %p Santa Barbara County, California, 2013
              %td
                40
            %tr
              %td
                %h5
                  Laetitia Estate Chardonnay
                %p Arroyo Grande Valley, California, 2013
              %td
                36
            %tr
              %td
                %h5
                  CALERA ‘MT HARLAN’ CHARDONNAY
                %p Central Coast, California
              %td
                80
            %tr
              %td
                %h5
                  DOMAINE DU TARIQUET CHARDONNAY
                %p Cotés de Gascogne, France, 2013
              %td 32
            %tr
              %td
                %h5
                  Melville Estate Chardonnay
                %p
                  Santa Rita Hills, California, 2013
              %td
                50
            %tr
              %td
                %h5
                  Flowers Chardonnay
                %p
                  Sonoma Coast, California, 2013
              %td
                70
            %tr
              %td
                %h5
                  Domaine Serene Chardonnay
                %p
                  Willamatte Valley, Oregon, 2012
              %td
                80
            %tr
              %td
                %h5
                  PAUL CLUVER CHARDONNAY
                %p
                  Elgin Valley, South Africa, 2013
              %td
                33
            %tr
              %td
                %h5
                  Kistler ‘Les Noisetier’ Chardonnay
                %p
                  Sonoma Coast, California, 2012
              %td
                85
            %tr
              %td
                %h5
                  NEIL ELLIS ‘GROENEKLOOF’ SAUVIGNON BLANC
                %p
                  Stellenbosch, South Africa, 2014
              %td
                32
            %tr
              %td
                %h5
                  Galerie ‘Naissance’ Sauvignon Blanc
                %p
                  Napa Valley, California, 2013
              %td
                48
            %tr
              %td
                %h5
                  c.h. berres kabinett riesling
                %p
                  Mosel, Germany, 2002
              %td
                44
            %tr
              %td
                %h5
                  MINER FAMILY WINERY ‘SIMPSON VINEYARD’ VIOGNIER
                %p
                  Oak ville, California, 2013
              %td
                40
            %tr
              %td
                %h5
                  BEDROCK WINE CO. ‘ABRENTE’ ALBARINO
                %p
                  Napa Valley, California, 2012
              %td
                48
            %tr
              %td
                %h5
                  A.A. BADENHOUST ‘SECATEURS’ CHENIN BLANC
                %p
                  Swartland, South Africa, 2013
              %td
                25
            %tr
              %td
                %h5
                  DOMAINE POUILLON GEWURZTRAMINER
                %p
                  Columbia Valley, Washington, 2011
              %td
                40
        %table.menu.alt
          %thead
            %th{colspan: '2'} ITALIAN REDS
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  cUPANI AGLIANICO
                %p Campania, Italy, 2009
              %td
                28
            %tr
              %td
                %h5
                  OGNISSOLE ‘PRIMITIVO DI MANDURIA’
                %p Puglia, Italy, 2012
              %td
                36
            %tr
              %td
                %h5
                  Feudi di San Gregorio ‘Taurasi’ Aglianico d’Irpinia
                %p Campania, Italy, 2009
              %td
                90
            %tr
              %td
                %h5
                  DOMAINE DU TARIQUET CHARDONNAY
                %p Cotés de Gascogne, France, 2013
              %td 32
            %tr
              %td
                %h5
                  Argiolas, Korem, Isole dei NuraghI
                %p
                  Bovale Sardo, Carignano & Cannonau, Sardinia, Italy, 2010
              %td
                70
            %tr
              %td
                %h5
                  planeta cerasuolo di vittoria
                %p
                  Nero d’Avola & Frappato, Sicily, Italy, 2012
              %td
                40
            %tr
              %td
                %h5
                  TORMARESCA ‘MASSERIA MAIME’
                %p
                  Negroamaro, Puglia, Italy, 2006
              %td
                68
            %tr
              %td
                %h5
                  Vietti langhe nebbiolo
                %p
                  Piedmont, Italy, 2011
              %td
                48
            %tr
              %td
                %h5
                  SOTTIMANO LANGHE NEBBIOLO
                %p
                  Piedmont, Italy, 2012
              %td
                50
            %tr
              %td
                %h5
                  Michele Satta Bolgheri Rosso
                %p
                  Tuscany, Italy, 2012
              %td
                44
            %tr
              %td
                %h5
                  Querciabella, Chianti Classico
                %p
                  Tuscany, Italy, 2010
              %td
                52
            %tr
              %td
                %h5
                  c.h. berres kabinett riesling
                %p
                  Mosel, Germany, 2002
              %td
                44
            %tr
              %td
                %h5
                  Il Poggione Rosso di montalcino
                %p
                  Sangiovese, Tuscany, Italy, 2012
              %td
                40
            %tr
              %td
                %h5
                  Fattoria di Magliano ‘Heba’ Morellino di Scansano
                %p
                  Tuscany, Italy, 2011
              %td
                44
            %tr
              %td
                %h5
                  Ciacci Piccolomini d’Aragona ‘Annata’, Brunello di MontalcinO
                %p
                  Tuscany, Italy, 2009
              %td
                115
        %table.menu.alt
          %thead
            %th{colspan: '2'} REDS
          %tbody
            %tr
              %td.inverse{colspan: '2'}
                %h5
                  By the Bottle
            %tr
              %td
                %h5
                  SEAN MINOR ‘4 BEARS’ PINOT NOIR
                %p  Central Coast, California, 2012
              %td
                36
            %tr
              %td
                %h5
                  MAD VIOLETS PINOT NOIR
                %p Willamette Valley, Oregon, 2012
              %td
                90
            %tr
              %td
                %h5
                  Star lane Merlot
                %p Happy Canyon of Santa Barbara, California, 2011
              %td
                55
            %tr
              %td
                %h5
                  Duckhorn Merlot
                %p Napa Valley, California, 2011
              %td 70
            %tr
              %td
                %h5
                  LYETH ESTATE CABERNET SAUVIGNON
                %p
                  Sonoma County, California, 2011
              %td
                36
            %tr
              %td
                %h5
                  Ramey Cabernet Sauvignon
                %p
                  Napa Valley, California, 2012
              %td
                90
            %tr
              %td
                %h5
                  CANE & FABLE WINES CABERNET SAUVIGNON
                %p
                  Paso Robles, California, 2013
              %td
                60
            %tr
              %td
                %h5
                  MAS DE GUIOT CABERNET SAUVIGNON & SYRAH
                %p
                  Costières de Nîmes,  France, 2011
              %td
                32
            %tr
              %td
                %h5
                  Gilbert Cellars ‘Left Bank’ Bordeaux Blend
                %p
                  Wahluke Slope, Washington, 2012
              %td
                48
            %tr
              %td
                %h5
                  Lang & Reed Cabernet FranC
                %p
                  Napa Valley, California, 2012
              %td
                55
            %tr
              %td
                %h5
                  Straight Line Tempranillo
                %p
                  Lake County, California, 2011
              %td
                57
            %tr
              %td
                %h5
                  Arnot-Roberts Syrah
                %p
                  North Coast, California, 2012
              %td
                84
            %tr
              %td
                %h5
                  WIND GAP SYRAH
                %p
                  Sonoma Coast, California, 2012
              %td
                90
            %tr
              %td
                %h5
                  Villa San-Juliette, Petit Sirah
                %p
                  Paso Robles, California, 2010
              %td
                36
            %tr
              %td
                %h5
                  DECERO MALBEC
                %p
                  Mendoza, Argentina, 2011
              %td
                40
            %tr
              %td
                %h5
                  Viña Cobos ‘Felino’ MalbeC
                %p
                  Mendoza, Argentina, 2013
              %td
                45
            %tr
              %td
                %h5
                  JL Chave ‘Mon Cour’, Côte du RhônE
                %p
                  Rhône Valley, France, 2012
              %td
                36
            %tr
              %td
                %h5
                  Domaine du Cayron Gigondas
                %p
                  Rhône Valley, France, 2012
              %td
                66
            %tr
              %td
                %h5
                  domaine jean-noel gagnard ‘clos de tavannes’
                %p
                  Santenay Premier Cru, France, 2012
              %td
                65
            %tr
              %td
                %h5
                  E. GUIGAL ‘CHATEAU D’ AMPUIS’ CÔTE-RÔTIE
                %p
                  Rhone Valley, France, 2008
              %td
                250
            %tr
              %td
                %h5
                  Chateau Rauzan-Segla ‘Segla’ Margaux
                %p
                  Bordeaux, France, 2008
              %td
                75
            %tr
              %td
                %h5
                  DOMAINE DOMINIQUE GRUHIER ‘CUVEE JUILIETTE’ BOURGOGNE
                %p
                  Burgundy, France, 2012
              %td
                60
            %tr
              %td
                %h5
                  Bodegas Juan Gil MonastrelL
                %p
                  umilla, Spain, 2012
              %td
                44
            %tr
              %td
                %h5
                  Emilio Moro
                %p
                  Ribera Del Duero, Spain, 2011
              %td
                65
            %tr
              %td
                %h5
                  Bodegas Muga, Reserva
                %p
                  Rioja, Spain, 2010
              %td
                60
            %tr
              %td
                %h5
                  Dominio De Tares, ‘Baltos’, Mencia
                %p
                  Bierzo, Spain, 2010
              %td
                32
            %tr
              %td
                %h5
                  bodegas alto moncayo ‘veraton’
                %p
                  Grenacha, Campo de Borja, Spain , 2012
              %td
                60
        = image_tag 'images/stamp.png', class: 'stamp'
      #menu3.menu-container{style: 'display:none'}
        %table.menu.alt
          %thead
            %th{colspan: '2'} DRAFT BEER
          %tbody
            %tr
              %td
                %h5
                  INTUITION PEOPLE’S PALE ALE
                %p Jacksonville, FL
                %p
                  American-style pale ale that is inspired by the hoppy pale ales of the West Coast
              %td
                6
              %tr
                %td
                  %h5
                    INTUITION I-10 IPA
                  %p Jacksonville, FL
                  %p
                    The West Coast comes to Jax with this extremely hoppy, true India Pale Ale
                %td
                  6
              %tr
                %td
                  %h5
                    INTUITION KING STREET STOUT
                  %p
                    Jacksonville, FL
                  %p
                    Imperial stout brewed with two-row malted barley and a variety of roasted and caramel malts
                %td
                  6
              %tr
                %td
                  %h5
                    aardwolf BREWING COMPANY
                  %p
                    Jacksonville, FL
                  %p
                    Belgian Style Pale Ale
                %td
                  6
              %tr
                %td
                  %h5
                    BOLD CITY Killer whale CREAM ALE
                  %p
                    Jacksonville, FL
                  %p
                    Not too malty, not too hoppy. Light and refreshing, perfect for the Lager drinker.
                %td
                  6
              %tr
                %td
                  %h5
                    BOLD CITY DUKES BROWN ALE
                  %p
                    Jacksonville, FL
                  %p
                    A mild brown ale which is easily drinkable with a slight nuttiness
                %td
                  6
      #menu4.menu-container{style: 'display:none'}
        %table.menu.alt
          %thead
            %th{colspan: '2'} NON-ALCOHOLIC
          %tbody
            %tr
              %td
                %h5
                  Davidson’s Organic Tea
                %p 12oz. pot
                %p
                  Mint Medley, Irish Breakfast, English Breakfast, Jasmine, Chamomile, Green, Earl Grey
              %td
                3
              %tr
                %td
                  %h5
                    ESPRESSO
                  %p
                    single or double
                %td
                  3/4
              %tr
                %td
                  %h5
                    CAPPUCCINO OR LATTE
                  %p
                    single or double
                %td
                  4/5
              %tr
                %td
                  %h5
                    COFFEE
                  %p
                    Jacksonville, FL
                  %p
                    Bold Bean Brewing, Jacksonville, Florida
                %td
                  3
              %tr
                %td
                  %h5
                    HAWAIIAN SUNSET ICED TEA
                  %p
                    unsweetened, tropical fruit flavored iced tea
                %td
                  3
              %tr
                %td
                  %h5
                    SOFT DRINKS
                  %p
                    coke, diet coke, sprite, gingerale
                %td
                  3
              %tr
                %td
                  %h5
                    JUICE
                  %p
                    orange or cranberry
                %td
                  4
              %tr
                %td
                  %h5
                    MILK
                  %p
                    whole or 2%
                %td
                  2
              %tr
                %td
                  %h5
                    WATER
                  %p
                    San Pellegrino sparkling
                %td
                  5
    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html'
          %li
            = link_to 'Lunch', '/lunch.html'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html'
          %li
            = link_to 'Drink', '/drink.html', class: 'active'
          %li
            = link_to 'Happy Hour', '/happy-hour.html'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
