= partial 'refills/nav'

%section.lunch
  .wrapper
    %aside
      %h2
        Lunch
    %article

%section.main-content
  .wrapper
    %article
      %figure
        %table.menu
          %thead
            %th{colspan: '2'} Starters
          %tbody
            %tr
              %td
                %h5
                  PATATAS BRAVAS
                  %span GF
                  %span V+*
                %p fried fingerling potatoes, spicy paprika, aioli
              %td
                6
              %tr
                %td
                  %h5
                    MARINATED OLIVES
                    %span GF
                    %span V+
                  %p mixed olives, garlic oil, orange zest
                %td
                  6
              %tr
                %td
                  %h5
                    CAPRESE
                    %span GF
                    %span V
                  %p
                    house-made mozzarella, tomatoes, basil,                        balsamic, olive oil
                    %i
                      %strong add
                      proscuitto 5/ shrimp 4/ chicken 4
                %td
                  10
              %tr
                %td
                  %h5
                    HERBED RICOTTA
                    %span V
                  %p
                    fig compote, grilled ciabatta bread
                %td
                  9
              %tr
                %td
                  %h5
                    Meatballs
                  %p tomato-basil sauce, parmigiano-reggiano, grilled ciabatta bread
                %td
                  10
        %table.menu
          %thead
            %th{colspan: '2'}
              HOUSE SALADS & SOUPS
              %p
                %i
                  %strong ADD
                  chicken  4/ shrimp 5 / scallops 5 /  fish 5 / steak 5
          %tbody
            %tr
              %td
                %h5
                  1/2 SALAD & SOUP
                  %span GF*
                %p
                  choose a house salad and cup of soup
              %td
                6
              %tr
                %td
                  %h5
                    SEASONAL SOUPS
                    %span GF*
                  %p please see your server for today’s soups
                %td
                  6
              %tr
                %td
                  %h5
                    BABY SPINACH
                    %span GF
                    %span V*
                  %p seasonal fruit, blue cheese, candied walnuts, bacon, red onion, red wine vinaigrette
                %td
                  8
              %tr
                %td
                  %h5
                    MIXED GREENS
                    %span GF
                    %span V+*
                  %p tomato, cucumber, shaved red onion, champagne vinaigrette
                %td
                  8
              %tr
                %td
                  %h5
                    CAESAR
                    %span GF*
                  %p boquerones, parmigiano-reggiano crouton
                %td
                  9
              %tr
                %td
                  %h5
                    OLIVE OIL POACHED ARTICHOKES
                    %span GF*
                    %span V+*
                  %p shaved fennel, baby arugula, marcona almond, orange segments, picholine olive, parmigiano-reggiano, lemon, olive oil
                %td
                  10

        %table.menu
          %thead
            %th{colspan: '2'}
              Pizzas
          %tbody
            %tr
              %td
                %h5
                  Traditional Margherita
                  %span V
                %p
                  house-made mozzarella, san marzano tomato, fresh basil
              %td
                15
              %tr
                %td
                  %h5
                    Fungi
                    %span V
                  %p roasted mushrooms, truffle, fontina
                %td
                  16
              %tr
                %td
                  %h5
                    Soppressata
                  %p italian dry salami, fried egg, house-made mozzarella, san marzano tomato
                %td
                  17
        %table.menu
          %thead
            %th{colspan: '2'} Main
          %tbody
            %tr
              %td
                %h5
                  House-made Fettuccini
                  %span V
                %p
                  tomato cream sauce, fresh basil
                  %br
                  %strong ADD
                  %i chicken 6 / shrimp 7 / scallops 8
              %td
                12
              %tr
                %td
                  %h5
                    GRILLED HANGER STEAK
                    %span GF*
                  %p truffled bordelaise, herb butter, parmesan truffle fries, aioli
                %td
                  15
              %tr
                %td
                  %h5
                    Grilled Salmon orzo salad
                  %p feta, tomatoes, cucumbers, onions, lemon vinaigrette, fresh herbs
                %td
                  15
      %figure
        %table.menu
          %thead
            %th{colspan: '2'}
              SIGNATURE SALADS
              %p
                %i
                  %strong ADD
                  chicken  4 / shrimp 4 / scallops 5 /  fish 5 / steak 5
                  %br
                  %strong ENTREE PORTION ONLY
          %tbody
            %tr
              %td
                %h5
                  GREEK SALAD
                  %span GF
                  %span V+*
                %p
                  cucumber, tomato, feta, red onion, red bell pepper, pepperoncini, niçoise olives, mixed greens, greek vinaigrette
              %td
                10
              %tr
                %td
                  %h5
                    STEAK SALAD
                    %span GF
                  %p hearts of romaine, blue cheese, bacon, tomato, shaved red onion, grilled hanger steak
                %td
                  15
              %tr
                %td
                  %h5
                    ANTIPASTO
                    %span GF
                  %p mortadella, hot coppa, genoa salami, soppressata, fresh mozzarella, niçoise olive, piquillo pepper, shaved red onion, mixed greens, red wine vinaigrette
                %td
                  11
              %tr
                %td
                  %h5
                    COBB SALAD
                    %span GF
                  %p grilled chicken, hard boiled egg, bacon, avocado, tomato, blue cheese, red wine vinaigrette
                %td
                  12
              %tr
                %td
                  %h5
                    NIÇOISE SALAD
                    %span GF
                  %p haricot vert, niçoise olive, poached fingerlings, red onion, hard boiled egg, mixed greens
                %td
                  20
              %tr
                %td
                  %h5
                    citrus marinated beet salad
                    %span GF
                    %span V
                  %p goat cheese, orange segments, marcona almond, arugula, endive
                %td
                  9

        %table.menu
          %thead
            %th{colspan: '2'}
              SANDWICHES
              %p
                %i
                  %strong comes with
                  simple mixed greens salad unless fries are noted
                  %br
                  %strong substitute
                  half house salad 2 / cup of soup 2 / fries 2
          %tbody
            %tr
              %td
                %h5
                  GRILLED CHEESE
                  %span V
                %p
                  mozzarella, tomato, basil pesto
              %td
                8
              %tr
                %td
                  %h5
                    GRILLED CHICKEN PESTO
                    %span GF
                  %p piquillo pepper, mozzarella, baby arugula, basil pesto, aioli
                %td
                  12
              %tr
                %td
                  %h5
                    ITALIAN SUB sandwich
                  %p mortadella, hot coppa, soppressata, genoa salami, olive tapenade, fresh mozzarella, lettuce, tomatoes, onion, aioli, mustard, Italian dressing
                %td
                  9
              %tr
                %td
                  %h5
                    MEATBALL SUB
                  %p meatballs, tomato basil sauce, provolone, parmesan
                %td
                  12
              %tr
                %td
                  %h5
                    TAVERNA CUBANA
                  %p pulled pork, mortadella, gruyere, pickles, whole grain mustard
                %td
                  12
              %tr
                %td
                  %h5
                    FRIED EGG AND GRUYERE
                    %span V*
                  %p bacon, lettuce, tomato, aioli
                %td
                  8
              %tr
                %td
                  %h5
                    CHICKEN CLUB
                  %p lettuce, tomato, red onion, avocado, bacon, gruyere, aioli, kosher dill pickle & fries
                %td
                  12
              %tr
                %td
                  %h5
                    BURGER
                  %p
                    8oz black angus beef, lettuce, tomato, red onion, aioli, kosher dill pickle & fries
                    %i
                      %strong ADD
                      cheese 1 / bacon 1
                %td
                  12
              %tr
                %td
                  %h5
                    Smoked Chicken Salad
                  %p grapes, marcona almonds, lettuce, tomato
                %td
                  9
              %tr
                %td
                  %h5
                    Turkey and Brie
                  %p baby arugula, seasonal chutney
                %td
                  10
        = image_tag 'images/stamp.png', class: 'stamp'
    %aside
      %nav.menu-nav
        %ul
          %li
            = link_to 'Dinner', '/dinner.html'
          %li
            = link_to 'Lunch', '/lunch.html', class: 'active'
          %li
            = link_to 'Brunch', '/brunch.html'
          %li
            = link_to 'Dessert', '/dessert.html'
          %li
            = link_to 'Drink', '/drink.html'
          %li
            = link_to 'Happy Hour', '/happy-hour.html'
          %li
            = link_to 'On the Go', '/togo.html'


= partial 'refills/opentable'

= partial 'refills/footer'
