= partial 'refills/nav'

%section.pdr
  .wrapper
    %aside
      %h2
        Private
        %br
        Dining
    %article

%section.main-content
  .wrapper
    %article
      %h1 Make us your home for special events
      %p Our private dining room seats up to 40 of your closest friends. We’ll make sure they’re well fed, whatever the occasion.
      %p Dine with your guests in an elegant private setting and enjoy a dedicated service team and menu packages for every price range. Our private dining room is equipped with a 70-inch flat screen TV, WIFI access, Blue Ray, Apple TV and a state of the art audio system. A rustic floor-to-ceiling barn door separates the room from the rest of the restaurant and gives you a truly exclusive dining experience. In addition, we offer customized floor plans and seating to suit the style of your event.
      %p Spend your next special occasion with us!
      %h3 Taverna, By Appointment Only
      %p Each month, we invite you to experience Taverna by Appointment Only. You’ll enjoy an off-menu, 3-course prix fixe dinner at these exclusive events held in our private dining room. Look forward to innovative dishes and astute wine pairings as part of unique menus that vary with each event.
      %p
        Contact our events coordinator at
        = link_to 'catering@tavernasanmarco.com', 'mailto:catering@tavernasanmarco.com'
        to reserve your seats at our next By Appointment Only event.
    %aside
      %h3 Book your event
      %p
        Contact our eventst coordinator at
        =link_to 'catering@tavernasanmarco.com', 'mailto:catering@tavernasanmarco.com'
        to schedule your next private dining experience.

= partial 'refills/instagram'


= partial 'refills/opentable'

= partial 'refills/footer'
